<div
  class="relative aspect-video bg-cover bg-no-repeat cursor-pointer"
  style="
    background-image: url('https://img.jakpost.net/c/2019/09/03/2019_09_03_78912_1567484272._large.jpg');
  "
  (click)="handleClickPlaceholder()"
>
  <svg
    viewBox="0 0 60 60"
    class="absolute inset-0 m-auto w-[90px] bg-black/85 rounded-full animate-bounce"
  >
    <path
      class="fill-white transform scale-[0.7] translate-x-[13px] translate-y-[9px]"
      d="M47.43,27.26,14.11,5.87A3.34,3.34,0,0,0,9,8.79V51.56a3.34,3.34,0,0,0,5.11,2.91L47.43,33.09A3.49,3.49,0,0,0,47.43,27.26Z"
    />
  </svg>
</div>
